:root[data-mantine-color-scheme="light"] body {
  background-color: var(--mantine-color-gray-0);
}

:root[data-mantine-color-scheme="dark"] body {
  --mantine-color-text: var(--mantine-color-gray-1);
  --mantine-color-dimmed: var(--mantine-color-dark-1);
  background-color: var(--mantine-color-dark-9);
}
