@theme inline {
  --color-*: initial;

  --color-bg-page: #f3f6f9;
  --color-bg-surface: #fff;
  --color-bg-input: #f9fafc;
  --color-bg-button: #00ceae;
  --color-bg-button-hover: #4dddc6;

  --color-border-surface: #e4e7eb;
  --color-border-input: #e5e8eb;

  --color-text-base: #000;
  --color-text-subdued: #4a5565;
  --color-text-error: #f61a5e;
}
